!!! 5

%html
  %head
    %title Eetee: Socrata OAuth test app

  %body
    .wrapper
      %h1 Eetee
      %h2 Something has gone wrong:

      %p= @error

      %p
        %a{ :href => '/' } return to home
